<article class="row tricky-post">
  <div class="column">
    <header>
      <div class="row">
        <div class="small-12 medium-14 columns">
          <h3>{{{post.title}}}</h3>
        </div>

        <div class="small-4 medium-2 columns text-right">
          <img src="assets/img/authors/{{post.author.image}}{{if media.retina '-2x' ''}}.png" alt="Image of {{post.author.name}}">
        </div>
      </div>

      <div class="row">
        <div class="column">
          By <a href="mailto:{{post.author.email}}?subject=RE: {{post.title}}" title="File your complaints with {{post.author.name}}">{{post.author.name}}</a> in
          {{#each post.labels as |label|}}
            <span class="label radius {{label.className}}">{{label.name}}</span>
          {{/each}}
        </div>
      </div>
    </header>

    <section class="tricky-post-content">
      <div class="row">
        <div class="column">
          <p>
            {{{post.excerpt}}}
          </p>
        </div>
      </div>
    </section>
  </div>
</article>