{{partial "header"}}

<main class="row">
  <div class="large-3 columns">
    {{partial "side-nav"}}
  </div>

  <div class="large-13 columns"> 
    <section class="row">
      <div class="column">
        <h1 class="h3">Responsive Images</h1>

        <p>
          Fully supported responsive images are still on the horizon. We know what problems
          responsive images solve for us but they can be a bit of a pain to figure out. This simple
          technique makes it fairly easy to use different images for different media with Ember.
        </p>

        <h5>Example #1</h5>
        <p>
          Retina logo via simple if/else in <code>src</code> attribute.
        </p>

        <p>
          <img src="img/logo{{if media.retina '-2x' ''}}.png" width="300" alt="Logo">
        </p>

        <span class="label secondary">Handlebars</span>
<code class="code-block"><pre>
&lt;img src="img/logo&#123;&#123;if media.retina '-2x' ''&#125;&#125;.png" width="300" alt="Logo"&gt;

</pre></code>

        <span class="label secondary">Rendered HTML</span>
<code class="code-block"><pre>
&lt;img src="img/logo{{if media.retina '-2x' ''}}.png" width="300" alt="Logo"&gt;

</pre></code>

        <hr>

        <h5>Example #2</h5>
        <p>
          Different logo for small, medium and large screens.
        </p>

        <p>
          {{#if media.small}}
            <img src="img/logo-small{{if media.retina '-2x' ''}}.png" width="100" alt="Logo">
          {{else if media.medium}}
            <img src="img/logo-medium{{if media.retina '-2x' ''}}.png" width="200" alt="Logo">
          {{else}}
            <img src="img/logo{{if media.retina '-2x' ''}}.png" width="300" alt="Logo">
          {{/if}}
        </p>

        <span class="label secondary">Handlebars</span>
<code class="code-block"><pre>
&#123;&#123;#if media.small&#125;&#125;
  &lt;img src="img/logo-small&#123;&#123;if media.retina '-2x' ''&#125;&#125;.png" width="100" alt="Logo"&gt;
&#123;&#123;else if media.medium&#125;&#125;
  &lt;img src="img/logo-medium&#123;&#123;if media.retina '-2x' ''&#125;&#125;.png" width="200" alt="Logo"&gt;
&#123;&#123;else&#125;&#125;
  &lt;img src="img/logo&#123;&#123;if media.retina '-2x' ''&#125;&#125;.png" width="300" alt="Logo"&gt;
&#123;&#123;/if&#125;&#125;

</pre></code>

        <span class="label secondary">Rendered HTML</span>
<code class="code-block"><pre>
{{#if media.small}}
&lt;img src="img/logo-small{{if media.retina '-2x' ''}}.png" width="100" alt="Logo"&gt;
{{else if media.medium}}
&lt;img src="img/logo-medium{{if media.retina '-2x' ''}}.png" width="200" alt="Logo"&gt;
{{else}}
&lt;img src="img/logo{{if media.retina '-2x' ''}}.png" width="300" alt="Logo"&gt;
{{/if}}

</pre></code>

        <hr>

        <h5>Example #3</h5>
        <p>
          Same as example #2 but with a responsive image component instead of <code>if/else</code>
          blocks.
        </p>

        <p>
          {{responsive-image media=media retina="-2x" alt="Logo"
            sizes="small, medium, largeUp"
            srcset="img/logo-small.png 100w, img/logo-medium.png 200w, img/logo.png 300w"}}
        </p>

        <span class="label secondary">Handlebars</span>
<code class="code-block"><pre>
&#123;&#123;responsive-image media=media retina="-2x" alt="Logo"
  sizes="small, medium, largeUp"
  srcset="img/logo-small.png 100w, img/logo-medium.png 200w, img/logo.png 300w"&#125;&#125;

</pre></code>
      </div>
    </section>
  </div>
</main>

{{partial "footer"}}