{{partial "header"}}

<main class="row">
  <div class="large-3 columns">
    {{partial "side-nav"}}
  </div>

  <div class="large-13 columns"> 
    <section class="row">
      <div class="column">
        <h1 class="h3">Media Statuses</h1>

        <p>
          The table below shows the status of media queries built into
          <a href="http://foundation.zurb.com/docs/media-queries.html">Foundation</a>.
        </p>

        <table class="status-table">
          <thead>
            <tr class="{{if media.small 'active'}}">
              <th>Name</th>
              <th>Range Low</th>
              <th>Range High</th>
              <th>Active</th>
            </tr>
          </thead>

          <tbody>
            <tr class="{{if media.small 'active'}}">
              <td>Small</td>
              <td>0</td>
              <td>640</td>
              <td>
                <span class="icon h3"></span>
              </td>
            </tr>

            <tr class="{{if media.medium 'active'}}">
              <td>Medium</td>
              <td>641</td>
              <td>1024</td>
              <td>
                <span class="icon h3"></span>
              </td>
            </tr>

            <tr class="{{if media.mediumUp 'active'}}">
              <td>Medium Up</td>
              <td>641 and up</td>
              <td>--</td>
              <td>
                <span class="icon h3"></span>
              </td>
            </tr>

            <tr class="{{if media.large 'active'}}">
              <td>Large</td>
              <td>1025</td>
              <td>1440</td>
              <td>
                <span class="icon h3"></span>
              </td>
            </tr>

            <tr class="{{if media.largeUp 'active'}}">
              <td>Large Up</td>
              <td>1025 and up</td>
              <td>--</td>
              <td>
                <span class="icon h3"></span>
              </td>
            </tr>

            <tr class="{{if media.xlarge 'active'}}">
              <td>X-Large</td>
              <td>1441</td>
              <td>1920</td>
              <td>
                <span class="icon h3"></span>
              </td>
            </tr>

            <tr class="{{if media.xlargeUp 'active'}}">
              <td>X-Large Up</td>
              <td>1441 and up</td>
              <td>--</td>
              <td>
                <span class="icon h3"></span>
              </td>
            </tr>

            <tr class="{{if media.xxlarge 'active'}}">
              <td>XX-Large</td>
              <td>1921 and up</td>
              <td>--</td>
              <td>
                <span class="icon h3"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>

{{partial "footer"}}