<main class="row collapse">
  {{#link-to "index" class="tricky-home-link text-center" title="Back to home page"}}
    <span class="icon back"></span>
  {{/link-to}}
      
  {{#if media.largeUp}}
    <div class="large-4 columns tricky-layout-sidebar">
      {{partial "tricky-layout/blog-title"}}
    </div>
  {{/if}}

  <div class="{{if media.largeUp 'large-12' ''}} columns">
    <div class="row collapse">
      <div class="column">
        {{partial "tricky-layout/ad"}}
      </div>
    </div>

    {{#unless media.largeUp}}
      <div class="row collapse">
        <div class="column">
          {{partial "tricky-layout/blog-title"}}
        </div>
      </div>
    {{/unless}}

    {{#each model as |post|}}
      {{partial "tricky-layout/post"}}
    {{/each}}

    {{partial "footer"}}
  </div>
</main>