<section class="row">
  <div class="column">
    <h1 class="h3">Media Statuses</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Range Low</th>
          <th>Range High</th>
          <th>Active</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Small</td>
          <td>0</td>
          <td>640</td>
          <td>
            <span class="{{if media.small 'active'}} status-light">&#9679;</span>
          </td>
        </tr>

        <tr>
          <td>Medium</td>
          <td>641</td>
          <td>1024</td>
          <td>
            <span class="{{if media.medium 'active'}} status-light">&#9679;</span>
          </td>
        </tr>

        <tr>
          <td>Medium Up</td>
          <td colspan="2">641 and up</td>
          <td>
            <span class="{{if media.mediumUp 'active'}} status-light">&#9679;</span>
          </td>
        </tr>

        <tr>
          <td>Large</td>
          <td>1025</td>
          <td>1440</td>
          <td>
            <span class="{{if media.large 'active'}} status-light">&#9679;</span>
          </td>
        </tr>

        <tr>
          <td>Large Up</td>
          <td colspan="2">1025 and up</td>
          <td>
            <span class="{{if media.largeUp 'active'}} status-light">&#9679;</span>
          </td>
        </tr>

        <tr>
          <td>X-Large</td>
          <td>1441</td>
          <td>1920</td>
          <td>
            <span class="{{if media.xlarge 'active'}} status-light">&#9679;</span>
          </td>
        </tr>

        <tr>
          <td>X-Large Up</td>
          <td colspan="2">1441 and up</td>
          <td>
            <span class="{{if media.xlargeUp 'active'}} status-light">&#9679;</span>
          </td>
        </tr>

        <tr>
          <td>XX-Large</td>
          <td colspan="2">1921 and up</td>
          <td>
            <span class="{{if media.xxlarge 'active'}} status-light">&#9679;</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>